body {
    background-color: #589ed9;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

#header .logo .fa-weibo {
    font-size: 50px;
    color: white;
}

#header h1 {
    font-size: 32px;
    color: white;
}

#loginform .containerfields {
    background-color: white;
    border-radius: 10px;
}

#loginform .containerfields input {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: none;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    outline: none;
    padding-top: 18px;
    padding-bottom: 18px;
    text-indent: 20px;
    border-radius: 10px;
}

#loginform .containerfields input[type="password"] {
    border-top: 3px solid #ccc;
    border-radius: 0px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#loginform input[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    background-color: #2186D4;
    color: white;
    margin-top: 10px;
    padding: 14px 0px;
    border-radius: 6px;
}

#loginform input[type="submit"]:hover {
    background-color: #0B6AB4;
    cursor: pointer;
}

#footer p{
    color: white;
    text-align: center;
    font-size: 19px;
}

#footer p a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}